body {
    background-color: rgb(78, 76, 69);
}

#type{
    background-color: rgb(147, 161, 161);
}

#container{
    background-color: rgb(27, 27, 16);
}

.btn{
    background-color: rgb(68, 68, 63);
   
}

footer{
    text-align: center;
    padding: 100px;
    color: rgb(124, 117, 117);
}